@charset "UTF-8";

@font-face {
  font-family: 'AR One';
  font-weight: 400;
  src: url(../fonts/AROneSans-Bold.ttf);
}

@font-face {
  font-family: 'Young Serif';
  font-weight: 400;
  src: url(../fonts/YoungSerif-Regular.ttf);
}

body {
  font-family: 'AR One', sans-serif;
}

.form-check-input {
  margin-top: 0;
}

.main-nav {
  font-family: 'Young Serif', serif;
}

.notice {
  font-size: 12px;
}

.dropdown-toggle::after{
  display: none;
}

.pp-img {
  position: relative;
  width: 225px;
}

.pp-img img {
  border: 4px solid #72d8fd;
  width: 100%;
}

.pp-edit {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.pp-edit i {
  color: #72d8fd;
}

.pp-edit i:hover {
  color: #0896cd;
}

.profile-details {
  width: 350px;
}

.activity-details {
  width: 600px;
}

.posts .post {
  border: 1px solid #72d8fd;
}

.post-pf {
  background-color: #f5ffff;
}

.post-pf img {
  width: 30px;
  border:  1px solid #72d8fd;
}